<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Captain's Log</title>

<link rel="stylesheet" href="/normalize.css" /> 
<!-- The ABOVE is from the skeleton file NOT CURRENT NORMALIZE -->

<link rel="stylesheet" href="/skeleton.css" />
<!-- <link rel="stylesheet" href="style.css" /> -->